<div class="sidebar">
    {{> Link text="Профиль" href='/profile'}}
    {{{ search }}}
    <ul class="chats">
    {{{ chats }}}
    </ul>
    {{!-- <ul class="chats"> --}}
        {{!-- {{#each data}} --}}
        {{!-- <div class="chat-item">
            <div class="chat-title">{{title}}</div>
            <div class="chat-message">{{message}}</div>
            <div class="chat-time">{{time}}</div>
            <div class="chat-counter">{{counter}}</div>
        </div> --}}
     
        {{!-- {{/each }} --}}
           {{!-- <div>
        {{{ chats }}}
        </div>
    </ul> --}}
</div>


  {{!-- {{#each mockChats}}
           <div>sss</div>
        {{/each}} --}}
     {{!-- {{#each data.chats}}
            {{>ChatItem title=this.title}}
        {{/each}} --}}
        {{!-- {{{ chatItem }}} --}}
