<div class="{{#if classNameTextField}}{{classNameTextField}}{{else}}vertical textField{{/if}}">
    <div>
        <label for="{{name}}" class="label">{{helper}}</label>
        {{{ input }}}
    </div>
    <div class="error-message">{{error}}</div>
</div>
